 <header>
    <script type="text/javascript" src="../functions/home.js"></script>
    <h1><span class="green">C</span>arbon</h1>
    <nav>
      <ul>
        <li><a href="index.html">Dashboard</a></li>
        <li><a href="#profile">Profil</a></li>
        <li><a href="#account">Mon compte</a></li>
        <li><a href="friends.html">Amis</a></li>
        <li><a href="astuces.html">Astuces</a></li>
        <li><a href="cgu.html">CGU</a></li>
        <li><a href="confidentialite.html">Confidentialité</a></li>
        <li><a href="partenariats.html">Partenariats</a></li>
      </ul>
    </nav>
  </header>